body {
	background-color: #bbc8d8;
	color: #303030;
}

#detailBox,
#title,
#member,
#info,
#buttonArea,
[id^=another],
#getProject {
	border: 1px solid #c59650;
	padding: 10px;
	background-color: #eaeff3;
}

#projectTitle {
	min-height: 60px;
}

#buttonArea {
	height: 150px;
	width: 150px;
	position: fixed;
	right: 10px;
	bottom: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

#goMember {
	border: 1px solid #c59650;
	color: #c59650;
}

#apply,
#edit {
	--bs-btn-padding-y: .20rem;
	--bs-btn-padding-x: .20rem;
	height: 50px;
	width: 90px;
	font-size: 24px;
	display: none;
}

#collect {
	text-decoration: none;
}

#info p {
	font-size: 20px;
	/* font-weight: bold; */
}

#info {
	width: 55%;
}

#skill {
	word-wrap: break-word;
	white-space: normal;
	word-break: break-all;
}

#member m {
	font-size: 23px;
	font-weight: bold;
}

#member {
	width: 44.5%;
	font-weight: bold;
	max-height: 500px;
}

#memberArea {
	display: grid;
	grid-template-rows: 1fr 1fr;
}

#imgBorder {
	border: 1.5px solid #c59650;
	max-width: 300px;
	max-height: 150px;
	height: 150px;
}

#memberName {
	font-size: 30px;
	text-decoration: none;
	color: #303030;
}

#introduce {
	border: 1.5px solid #c59650;
	max-height: 70px;
	height: 70px;
}

#detail img {
	max-width: 900px;
	/* 設置圖片的最大寬度 */
	height: auto;
	/* 高度自動調整 */
}

a[class="d-inline col-md-3 mt-1"] {
	color: #303030;
	text-decoration: none;
}

#mail {
	font-size: 24px;
}

#anotherTitle {
	font-size: 20px;
	font-weight: bold;
}

#another>p,
#getProject>p {
	font-size: 20px;
	font-weight: bold;
}

#anotherImg {
	width: 100%;
	max-height: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
}

#ButtonArea {
	text-align: center;
}

p,
m,
.col,
#updateDate,
.text-end,
#projectTitle,
h5,
#detail,
a,
.col-6,
#rank,
.all,
#introduce,
#imgBorder,
img,
#ButtonArea,
s,
strong,
em,
u,
#applyPepple,
.anotherTitle,
.d-inline,
.ButtonArea2,
.mx-auto {
	background-color: #eaeff3;
}
#none{
	background-color:transparent;
}
h6{
	margin-top:40px;
}
.p-3 {
	background-color: #eaeff3;
	margin-left: 10px;
	width: 380px;
}
#openModalBtn{ 
    margin: 10px;
    padding: 3px 8px;
    border-radius: 10px;
    border: 1px solid #14518e;
    color: #14518e;
    background-color: #bbc8d8;     
}
#another,#getProject{
	margin-bottom:50px;
}