*{
    background-color: #bbc8d8;
}
main {
    padding: 50px 10%;
}

/* 共用CSS */
.viewText span,
.viewText b {
    background-color: transparent;
    font-size: 1.2rem;
}

.viewText a {
    background-color: transparent;
    font-size: 1.2rem;
    text-decoration: none;
    color: #c59650;
}

.viewText {
    line-height: 32px;
}

.caseShowMember {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.caseShowMemberView {
    display: flexbox;
    width: 100%;

    word-wrap: break-word;
    /* For older browsers */
    overflow-wrap: break-word;
    /* For modern browsers */
}

#caseMemberIcon {
    width: 200px;
    height: 200px;
    background-color: #eaeff3;
    border-radius: 5px;
    border: 0.5px solid #c59650;
}

#caseMemberIcon:hover {
    box-shadow: 0px 0px 15px #c596506d;
}

.about {
    padding: 5px 15px;
    border: none;
    border: solid 1px #c59650;
    border-radius: 5px;
    width: 100%;
    background-color: #eaeff3;
    min-height: 200px;
    flex-grow: 1;
}

/* 會員公開資訊頁專屬CSS */
.memberShowFooter{
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* 會員彈窗專屬CSS*/

#memberModel {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4)
}

.modelContent {
    background-color: #bbc8d8;
    margin: 10% auto;
    padding: 20px 50px;
    /* border: 1px solid #888; */
    width: 80%;
    max-width: 700px;
    border-radius: 20px;
    border: 1px solid #c59650;
    box-shadow: 0px 0px 15px #c596506d;
}

.close {
    color: #c59650;
    float: right;
    font-size: 36px;
    font-weight: bold;
    background-color: transparent;
}

.close:hover,
.close:focus {
    color: rgb(210, 2, 2);
    text-decoration: none;
    cursor: pointer;
}