<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>訂單頁面</title>
	<meta name="memberId" th:content="${memberId}">
	<meta name="orderId" th:content="${orderId}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="/CSS/fragment.css">
	<link rel="stylesheet" href="/CSS/memberShowBtn.css">
	<link rel="stylesheet" href="/CSS/sendBtn.css">
	<link rel="stylesheet" href="/CSS/main.css">
	<script src="/js/jquery-3.7.1.js"></script>
	<script src="/js/main.js"></script>
</head>

<body>
	<div class="sticky" th:if="${member == null}" th:insert="fragments::header"></div>
	<div class="sticky" th:if="${member!= null}" th:insert="fragments::userHeader"></div>
	<div class="container w-75 p-2">
		<div id="buttonArea" class="rounded-2">
			<p id="applyPeople"></p>
			<button id="apply" class="btn btn-outline-primary">申請</button>
			<button id="edit" class="btn btn-outline-primary">編輯</button>
		</div>
		<div class="d-flex">
			<h4 class="d-inline" id="none">
				類型：
				<h4 id="category">遊戲(暫)</h4>
			</h4>
			<h4 class="d-inline ms-auto" id="none">
				發布日期：
				<h4 id="release">1999/xx/xx(暫)</h4>
			</h4>
		</div>
		<div id="title" class="p-1 rounded-2 mb-2 row">
			<div class="col">
				<div class="text-end">
					<a href="" id="collect">收藏</a>
				</div>
				<div id="projectTitle" class="me-auto d-flex align-items-center fw-bold fs-1">
					專案標題(暫)</div>
				<div class="text-end">
					<h6 id="updateDate">最新更新時間:2025/1/1(暫)</h6>
				</div>
			</div>
		</div>
		<div class="row mb-2">
			<div id="info" class="rounded-2">
				<p id="budget">預算:</p>
				<p id="area">地點:</p>
				<p id="skill">需要技能:</p>
				<p id="head">建議人數:</p>
				<p id="deadline">申請截止日:</p>
			</div>
			<div id="member" class="p-2 rounded-2 ms-auto">
				<m>會員資料</m>
				<div class="row p-3">
					<div id='memberArea' class="col-6">
						<a id="memberName" href="">某某某</a>
					</div>
					<div class="col-6">
						<div id="imgBorder" class="d-flex justify-content-center align-items-center">
							<img id="img" class="img-fluid object-fit-contain" src="/img/logowhite.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="detailBox" class="mb-2 rounded-2 row">
			<h5>詳細內容</h5>
			<hr>
			<div id="detail"></div>
		</div>
		<div id="getProject" class="mb-2 row rounded-2">
			<h5>已申請案件的人</h5>
			<hr>
			<h6 id='applyPepple'>目前還沒有來申請的人</h6>
		</div>
		<div id="evaluate" class="row rounded-2">
			<h5>收到的評價</h5>
			<hr>
			<h6 id='applyevaluate'>目前還未有評價</h6>
		</div>
		<div id="another" class="row rounded-2">
			<h5>推薦其他專案</h5>
			<hr>
		</div>
	</div>


	<div id="memberModel">
		<div class="modelContent">
			<span class="close">&times;</span>
			<div class="caseShowMember">
				<div class="caseMemberViewImg">
					<img name="picurl" id="caseMemberIcon" src="" alt="" />
					<button id="openModalBtn">發送郵件</button>
				</div>
				<div class="viewText caseShowMemberView">
					<b>姓&nbsp;&nbsp;名：</b> <span id="name">我是名字</span><br> <b>帳&nbsp;&nbsp;號：</b>
					<span id="account">我是帳號</span><br> <b>Email：</b> <span id="email">我是Email</span><br>
					<b>電&nbsp;&nbsp;話：</b> <span id="tel">我是電話</span><br> <b>生&nbsp;&nbsp;日：</b> <span
						id="birthday">我是生日</span><br> <b>擅長技能：</b> <span id="tagNames">我是技能</span><br> <b>Github：</b> <a
						href="" id="github">I'm GitHub</a><br>
				</div>
			</div>
			<div class="viewText about">
				<b>自我介紹：</b><br> <span id="intro">自我介紹</span>
			</div>
		</div>
	</div>

	<!-- send彈出視窗 -->
	<div id="sendModel" style="display: none; position: fixed; top: 0; left: 0;">
		<div class="sendModelContent" style="position: relative;">
			<span class="sendClose">&times;</span>
			<div class="sendModelBox">
				<form th:action="@{/sendButton2_submit}" th:object="${message}" method="post">
					<div class="left">
						<label for="receiverEmail" class="mystyle">收信人&emsp; <span
								th:if="${#fields.hasErrors('receiverid.email')}" th:errors="*{receiverid.email}"
								style="color: red;"></span>
						</label> <input type="email" class='emailInnerEmail' th:field="*{receiverid.email}" />
					</div>
					<div class="left">
						<label for="title" class="mystyle">標&emsp;題&emsp; <span th:if="${#fields.hasErrors('title')}"
								th:errors="*{title}" style="color: red;"></span>
						</label> <input id="sendProjectTitle" type="text" th:field="*{title}" />
					</div>
					<div class="left">
						<label for="content" class="mystyle">內&emsp;文&emsp; <span
								th:if="${#fields.hasErrors('content')}" th:errors="*{content}"
								style="color: red;"></span>
						</label>
						<textarea th:field="*{content}"></textarea>
					</div>
					<input type="hidden" id="sendOrderid" name="orderid" data-orderid="">
					<input type="submit" value="寄信" class=" sendBtn" />
				</form>
			</div>
		</div>
	</div>


	<div th:replace="fragments::footer"></div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>