<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/reply.css}">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
    <script src="js/jquery-3.6.0.js"></script>
    <link rel="stylesheet" th:href="@{/css/fragment.css}">
    <link rel="stylesheet" href="/sideProject/src/main/resources/static/CSS/register.css">
</head>

<body>



    <div class="sticky" th:if="${member == null}" th:insert="fragments::header"></div>
    <div class="sticky" th:if="${member!= null}" th:insert="fragments::userHeader"></div>

    <form th:action="@{/reply_submit}" th:object="${message}" method="post" enctype="multipart/form-data">
        <div id="outSide">
            <div id="User">
                <!-- 預覽圖片，目前沒圖片會只有框 -->
                <img name="picurl" id="icon" alt="" th:src="@{${member.picurl}}" />
                <!-- 功能列 -->
                <div id="UserUse">
					<b>功能列</b>
					<dl>
						<dt>專案管理</dt>
						<a th:href="@{/memberProjectP1/{memberid}(memberid=${member.memberid})}">我接的專案</a>
						<br />
						<a th:href="@{/OrderProjectP1/{memberid}(memberid=${member.memberid})}">我發的專案</a>
						<br />
						<a th:href="@{http://localhost:8080/order_edit}">建立新專案</a>
						<dt>專案收藏</dt>
						<a th:href="@{/memberlike/{memberid}(memberid=${member.memberid})}">資料夾管理</a>
						<dt>站內信件</dt>
						<a th:href="@{'/message/'+${member.memberid}}">收件匣</a>
                        <dt>公開資訊區</dt>
						<a th:href="@{/memberShow?memberid=}">個人資訊</a>
					</dl>
				</div>
            </div>
            <div id="message">
                <div id="mesgTop">
                    <div id="alld">
                        <a id="home">站內信</a> <input type="submit" value="寄信" class="submit">
                    </div>
                    <br> <br>
                    <hr>
                    <div id="mesgDown">
                        <div class="sendemail">
                            <label for="receiverEmail" class="mystyle"> 收信人 <input type="text"
                                    th:field="*{receiverid.email}" id="receiverEmail" value="${senderEmail}"
                                    readonly="readonly" />
                            </label>
                        </div>
                        <div class="sendemail">
                            <label for="title" class="mystyle"> 標&emsp;題 <input type="text" th:field="*{title}"
                                    id="title" />
                            </label>
                        </div>
                        <div class="sendemail">
                            <label for="content" class="mystyle"> 內&emsp;文 <textarea th:field="*{content}"
                                    id="content"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div th:replace="fragments::footer"></div>
    <script>
        document.getElementById('home').addEventListener('click', function () {
            window.history.go(-2);  // 這將使頁面返回倒數第二頁
        });
    </script>

    <script>

    </script>

</body>

</html>