@charset "UTF-8";

* {
    font-family: 微軟正黑體;
    color: #303030;
}

a{
    text-decoration: none;
}

body {
    background: #bbc8d8;
    height: 750px;    
}

/* img {
    float: left;
    height: 50px;
    width:auto ;
    margin-left: 20px;
} */


/* 導覽列容器固定 */
.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* 以下導覽列樣式 */
header {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #14518e;
    color: #eaeff3;
    font-size: 20px;
    padding: 0 30px 0 0;
}

.headerBtn {
    margin-left: auto;
    background-color: #14518e;
    display: flex;
    gap: 40px
}

.varBtn {
    padding: 15px;
    width: 120px;
    border-radius: 10px;
    border: 1px solid #14518e;
    color: #14518e;
    /* line-height: 50px; */
}

.varBtn:hover {
    padding: 15px;
    width: 120px;
    background-color: #14518e;
    border-radius: 10px;
    border: 1px solid #eaeff3;
    color: #eaeff3;
}

#logoBtn {
    margin: 0 0 0 30px;
    border: none;
    background-color: transparent;
}

header img {
    height: 80px;
    background-color: #14518e;
}

.headerBtn>form {
    background-color: #14518e;


}

#varUser {
    border: none;
    background-color: transparent;
    color: #eaeff3;

}

#varUser:hover {
    border: none;
    /* background-color: #14518e; */
    color: #c59650;
    border-radius: 0px;
    border-bottom: 3px solid #c59650;
}


input {
    padding: 15px;
    border: none;
    border: solid 1px #c59650;
    border-radius: 5px;
}

input[type=radio] {
    display: none;
}

input[type=radio]+span {
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
    background-color: #bbc8d8;
    padding: 3px 6px;
    border: 1px solid #14518e;
    color: #14518e;
    user-select: none; 
}

input[type=checkbox]+span {
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
    background-color: #bbc8d8;
    padding: 3px 6px;
    border: 1px solid #14518e;
    color: #14518e;
    user-select: none; 
}

input[type=radio]:checked+span {
    color: #eaeff3;
    background-color: #14518e;
}
/* //---------------------------------- */
th{
    color: #eaeff3;
    padding: 10px;
}

td{
    padding: 10px;
    border-bottom:1px solid #c59650;
}

#messageTable{
    width: 100%; 
    border-collapse: collapse;
}

.collapsible-content{
    padding: 10px;
    background-color: #eaeff3;
    
}
.content{
    /* border: none; */
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
    background-color: #bbc8d8;
    border-radius: 8px;
}
.collapsible-header {
    background-color: #bbc8d8;
}

.collapsible-header:hover {
    background-color: #e0e0e0;
}

#back{
    color: #eaeff3;
    background-color: #14518e;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    display: inline;
    float:right;
    margin: auto;
    /* margin-right: 16px; */
    user-select: none; 
    border: none;
}

#del{
    color: #eaeff3;
    background-color: #14518e;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    display: inline;
    float:left;
    margin: auto;
    /* margin-right: 16px; */
    user-select: none; 
    border: none;
}

/* //--------------------------------- */
#message{
    background-color: #bbc8d8;
    width: 80%;
    height: auto;
    margin:0 auto; 
    margin-top: 150px;
    padding-top: 60px;
    overflow: hidden;
}

#tegami{
    color: #eaeff3;
    background-color: #14518e;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    display: inline;
    float:right;
    margin: 16px;
    user-select: none; 
    border: none;
    
}


#pageup{
    color: #eaeff3;
    background-color: #14518e;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    display: inline;
    float:left;
    margin: auto;
    margin-left: 16px;
    user-select: none; 
    border: none;
}
#pagedown{
    color: #eaeff3;
    background-color: #14518e;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    display: inline;
    float:right;
    margin: auto;
    margin-right: 16px;
    user-select: none; 
    border: none;
}

a>span{
    margin-left: 16px;
    font-size: 1.2rem;
}

#mesgtop{
    background-color: #eaeff3;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    border-top: 40px solid #14518e;
    padding-bottom: 55px;
}

label{
    padding-top: 16px;
    /* padding-left: 50px; */
    padding-left: 15px;
}
/* //--------------------------------- */

#mesgdown{
    background-color: #14518e;
    color: #eaeff3;
    height: auto;
    margin: 16px;
    overflow: hidden;
}



footer {
    display: flexbox;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: #14518e;
    color: #eaeff3;
    margin: 0;
    padding: 10px 0 0 0;
    line-height: 40spx;
    text-align: center;
    margin-top: 250px;

}

footer>a {

    background-color: #14518e;
    color: #eaeff3;
    text-decoration: none
        /* color: #eaeff3; */
}

footer>p,
footer>span {
    text-align: center;
    background-color: #14518e;
    /* color: #eaeff3; */
}

footer>a,
footer>span {
    font-size: 20px;
}